.card {
  background: linear-gradient(#090909, #252525);
  color: rgba(255, 255, 255, 0.578);
}

#stateReps {
  background-image: url("../images/seal200.png");
  background-color: #090909;
  background-repeat: no-repeat, no-repeat;
  background-size: 100px, cover;
}

#staterepsbutton {
  background-color: rgb(156, 3, 3);
  border-radius: 8px;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(105, 7, 7, 0.664),
    0 17px 50px 0 rgba(105, 11, 11, 0.597);
  font-size: 14px;
  font-weight: bolder;
  
  margin-right: 68em;
  
  
 
}

#staterepsbuttonbottom {
  background-color: rgb(156, 3, 3);
  border-radius: 8px;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(105, 7, 7, 0.664),
    0 17px 50px 0 rgba(105, 11, 11, 0.597);
  font-size: 20px;
  font-weight: bolder;
  
  margin-right: 46em;
  margin-bottom: 3em;
 
}
#staterepsbuttonbottomnextpage {
  background-color: rgb(156, 3, 3);
  border-radius: 8px;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(105, 7, 7, 0.664),
    0 17px 50px 0 rgba(105, 11, 11, 0.597);
  font-size: 20px;
  font-weight: bolder;
  
  margin-right: 73em;
  
 
}

#staterepsbuttonback {
  background-color: rgb(156, 3, 3);
  border-radius: 8px;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(105, 7, 7, 0.664),
    0 17px 50px 0 rgba(105, 11, 11, 0.597);
  font-size: 20px;
  font-weight: bolder;
  
  margin-right: 80em;
  margin-top: 3em;
  
 
}

#staterepsbutton2 {
  background-color: rgb(156, 3, 3);
  border-radius: 8px;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(105, 7, 7, 0.664),
    0 17px 50px 0 rgba(105, 11, 11, 0.597);
  font-size: 14px;
  font-weight: bolder;
  
  /* margin-top: 5em */
  margin-right: 60em;
  
  

 
}

#staterepsbutton4 {
  background-color: rgb(156, 3, 3);
  border-radius: 8px;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(105, 7, 7, 0.664),
    0 17px 50px 0 rgba(105, 11, 11, 0.597);
  font-size: 14px;
  font-weight: bolder;
  
  margin-right: 60em;
  /* margin-top: 5em; */
}
  #staterepsbutton5 {
    background-color: rgb(156, 3, 3);
    border-radius: 8px;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(105, 7, 7, 0.664),
      0 17px 50px 0 rgba(105, 11, 11, 0.597);
    font-size: 14px;
    font-weight: bolder;
    
    margin-right: 68em;

  }
 


#staterepsbuttonbottom2 {
  background-color: rgb(156, 3, 3);
  border-radius: 8px;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(105, 7, 7, 0.664),
    0 17px 50px 0 rgba(105, 11, 11, 0.597);
  font-size: 20px;
  font-weight: bolder;
  
  margin-right: 73em;
  margin-bottom: 3em;

  
 
}





/* @media screen and (max-width: 1614px) {
    #staterepsbutton {
        background-color: blue;
    }
} */
