

.usSenatorsBody {
    
    background-image: url('../images/seal200.png'), linear-gradient(110deg, #090909 65%, #fafaf800 35%), url('../images/United_States_Capitol_at_night.jpg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100px, cover, cover;
    height: 120%


}

.usSenatorsTitle {
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.304);

}

.cardBodyUsSenators {
    background-image: linear-gradient(#090909,#252525);
    color: rgba(255, 255, 255, 0.578);
}







