#usRepsBody {
  /* background-image: url(seal200.png),linear-gradient(110deg, #090909 65%, #fafaf800 35%), url(United_States_Capitol_at_night.jpg) ; */
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100px, cover, cover;
  /* display: flex;
  flex-direction: row;
  margin-left: 1em; */

}

#test {
    margin-bottom: 1em;

}

#rep-style {
    display: flex;
    justify-content: center;
}
